<html>
<head>
	<script type="text/javascript"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1> Pet Shelter </h1>
<h4>Know of a pet needing a home?</h4>
<form action="/new_pet" method="post">
	<label>Pet Name:
	<input type="text" name="name">
	</label><br>
	<label>Pet Type:
	<input type="text" name="type">
	</label><br>
	<label>Description:
	<input type="text" name="description">
	</label><br>
	<label>Skills: <br/>
		<label>Skill 1:
		<input type="text" name="skill_1">
		</label><br>
		<label>Skill 2:
		<input type="text" name="skill_2">
		</label><br>
		<label>Skill 3:
		<input type="text" name="skill_3">
		</label>
	</label><br>
	<input type="submit" value="Submit">
</form>

</body>
</html>